footer {
    background-color: #0A0A0A;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    footer {
        padding: 15px;
    }
    footer p {
        font-size: 12px;
    }
}
