.image-section {
    text-align: center;
    margin: 20px 0;
}

.image-section img {
    display: block;
    margin: 0 auto;
    width: 90%; /* Ajusta a largura da imagem */
    height: 90%; /* Ajusta a altura da imagem para ser quadrada */
    max-width: 400px; /* Tamanho máximo da imagem */
    max-height: 400px; /* Tamanho máximo da imagem */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Transição para o efeito de zoom */
}

/* Efeito de hover */
.image-section img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

.image-section h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}

.image-section p {
    font-size: 16px;
    color: #666;
}

/* Adicionando uma regra de mídia para ajustar no Desktop */
@media (min-width: 768px) {
    .image-section img {
        margin-top: -50px; /* Move a imagem para cima no Desktop */
    }
}